.centerblock {
  width: auto;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 20px 40px 20px 111px;
}

.centerblock__h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  margin-bottom: 45px;
  color: #ffffff;
}

.centerblock__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 51px;
}

.centerblock__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content__playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
}

/* .loading {
  font-size: 16px;
  font-weight: 600;
  color:#313131;
  color: #ffffff;
  letter-spacing: 0.3px;
  margin: 0;
} */

.loading {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;       
  letter-spacing: 0.4px; 
  margin: 25px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.dots {
  display: inline-flex;
  gap: 4px;
}

.dots span {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.2;
  animation: blink 1.4s infinite ease-in-out;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}

.dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% { opacity: 0.2; transform: translateY(0); }
  50% { opacity: 1; transform: translateY(-2px); }
  100% { opacity: 0.2; transform: translateY(0); }
}

/* .error {
  font-size: 18px;
  font-weight: 500;
  color: #ff6b6b;
  letter-spacing: 0.4px;
  margin: 25px 0;
} */

.error {
  font-size: 18px;
  font-weight: 600;
  color: #ff6b6b;
  margin: 25px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.errorDots span {
  display: inline-block;
  opacity: 0;
  animation: blink 1.4s infinite;
}

.errorDots span:nth-child(1) {
  animation-delay: 0s;
}
.errorDots span:nth-child(2) {
  animation-delay: 0.2s;
}
.errorDots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 80%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

