.filter {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.filter__buttons {
  display: flex;
  gap: 10px;
  position: relative;
}

.filter__wrapper {
  position: relative;
}

.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease;
}

.filter__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.filter__button.active {
  background-color: rgba(255, 255, 255, 0.2);
}




.filter__buttonActive {
  color: #a855f7;
  border-color: #a855f7;
}

.filter__buttonActive:hover {
  background-color: rgba(168, 85, 247, 0.15);
}






.filter__list {
  position: absolute;
  /* Отступ от кнопки */
  top: 40px;
  left: 0;
  background-color: #181818;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* Высота с прокруткой */
  max-height: 237px;
  overflow-y: auto;
  min-width: 150px;
  z-index: 100;

  /* Стили скролла */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(75, 73, 73, 1);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
  }
}

.filter__listItem {
  color: white;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease;
}
/* 
.filter__listItem.active {
  background-color: #B672FF;
  color: #ffffff;
} */

/* выбранный пункт */
.filter__listItem.selected {
  color: #B672FF; 
  text-decoration: underline;
  text-decoration-color: #B672FF;
  font-weight: 500;
}

/* счётчик */
.counter {
  margin-left: 6px;
  color: #B672FF;
  font-weight: 500;
}


.filter__listItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
